body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(to bottom, #4CAF50, #2196F3); 
}

#calculator {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    width: 300px;
    max-width: 100%;
    margin: auto;
    padding: 10px;
    border: 2px solid rgba(255, 255, 255, 0.3); 
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.1); 
    backdrop-filter: blur(10px); 
}

.display-area {
    grid-column: span 4;
    padding: 10px;
    font-size: 1.2em;
    text-align: right;
    background-color: rgba(255, 255, 255, 0.5); 
    height: 40px;
    overflow: hidden;
}

button {
    padding: 10px;
    font-size: 1.2em;
    border: 1px solid rgba(255, 255, 255, 0.3); 
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, border 0.3s, color 0.3s;
    background-color: rgba(255, 255, 255, 0.7); 
    color: #333; 
}

button:hover {
    background-color: rgba(255, 255, 255, 0.9); 
    border: 1px solid rgba(255, 255, 255, 1); 
    color: #000; 
}

#equalButton {
    background-color: #2196F3; 
    color: #fff; 
}

#resetButton {
    grid-column: span 4;
    grid-row: 2;
    align-self: flex-start;
}
